<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--ICON-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--CSS-->
    <link rel="stylesheet" href="tareaBootrap.css">
    <!--Favicon-->
    <link rel="icon" href="/img/icon48.jpg">
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <!--Animaciones-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="../../assets/styles/estilos.css">
    <title>Enfermedad</title>
</head>
<body>
    <header>
        <!--  Barra de navegación superior -->
        <div class="container">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                  <!-- Enlace: Lengua de señas -->
                  <p>Lengua de Señas</p>
                  <!-- Línea divisoria -->
                  <div class=""></div>
                  <!-- Dropdown de idioma -->
                  <div class="">
                    
                    </ul>
                  </div>
                </div>
              </div>
        </div>
    
    <!-- Barra de navegación inferior -->
    <nav class="navbar navbar-expand-lg menu navbar-dark  fixed-top flex-column-reverse">
        <div class="container-fluid">
          <img src="../../assets/img/logotipo.png" alt="logo" width="90" height="90">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex align-items-end" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Servicios
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/src/view/medico.html" target="_blank"><i class="bi bi-person-fill"></i> Médico</a></li>
                    <li><a class="dropdown-item" href="/src/view/medicamento.html" target="_blank"><i class="bi bi-pills"></i> Medicamentos</a></li>
                    <li><a class="dropdown-item" href="/src/view/signoviltal.html" target="_blank"><i class="bi bi-heart-pulse"></i> Signos Vitales</a></li>
                    <li><a class="dropdown-item" href="/src/view/enfermedad.html" target="_blank"><i class="bi bi-thermometer"></i> Enfermedades</a></li>
                    <li><a class="dropdown-item" href="/src/view/paciente.html" target="_blank"><i class="bi bi-person-lines-fill"></i> Paciente</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Contacto</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-light" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
</header>

    <!--Banner ppal Formulario -->

    <p align="center">Registro enfermedades:</p>
        <h1 class="my-5 d-flex justify-content-center animate__animated animate__backInDown">Tu salud nuestra prioridad</h1>

        <div class="container text-center mt-0">
            <h3 class=" m-0 font-weight-bold animate__animated animate__backInLeft">cultiva hábitos saludables y siembra bienestar en tu vida...</h3><br><br><br>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="service-box bg-info p-5">
                        <img src="../../assets/img/habitosSaludables1.png" width="150px" height="150px" class="service-icon" alt="Arrendamientos"> <br><br> <br>
                        <h3 class=" animate__animated animate__backInUp">Haz ejercicio</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box bg-info p-5">
                        <img src="../../assets/img/habitossaludables2.jpg" width="115px" height="115px" class="service-icon" alt="Hipotecas"> <br><br><br>
                        <h3 class=" animate__animated animate__backInUp"> Ten alimentación balaceada</h3>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="service-box bg-info p-5">
                        <img src="../../assets/img/habsaludables3.jpg" width="120px" height="120px" class="service-icon" alt="Ventas"> <br><br><br>
                        <h3 class=" animate__animated animate__backInUp">Cuida tu Salud Mental</h3  >
                    </div>
                </div>
            </div>
        </div>
        <!--Imagen y formulario-->
        <section class="container my-5 ">
            <div class="row align-items-center">
                <div class="col-md-6 col-12 image-container text-center">
                    <img src="../../assets/img/enfermedad.jpg" width="350px" alt="Imagen de ejemplo" class="img-fluid">
                  </div>
                <div class="col-md-6 col-12">
                    <h4 class="m-5">Registra aqui las enfermedades padecidad : </h4>
                    
                    <form class="p-5 border rounded shadow bg-info">
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label">Nombres:</label>
                                <input type="text" class="form-control" id="nombreenfermedad">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Sintomas:</label>
                                <input type="text" class="form-control" id="sintomasenfermadad">
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6">
                                <label class="form-label">clasificacion:</label>
                                <input type="text" class="form-control" id="clasificacionenfermedad">
                            </div>
                            <div class="col-6">
                                <label class="form-label">probabilidad de vida:</label>
                                <input type="text" class="form-control" id="probabilidadenfermedad">
                            </div>
                        </div>
                        <div class="col-12 my-3">
                            <label class="form-label">Grado</label>
                                <select class="form-select" id="gradoenfermedad" aria-label="Default select example">
                            <option selected>fase de enfermedad</option>
                            <option value="A">1</option>
                            <option value="B">2</option>
                            <option value="C">3</option>
                        </select>
                        </div>
                        <button  class="btn btn-primary w-100" id="botonregistroenfermedad" type="submit" >Registro</button>    
                    </form>
                </div>
        </section>
    </main> 

     <!--footer-->
    <footer class="bg-dark text-light text-center py-4">
        <div class="container">
            <p class="mb-2">© 2024 Todos los derechos reservados</p>
            <div>
                <a href="#" class="text-light mx-2">Facebook</a>
                <a href="#" class="text-light mx-2">Twitter</a>
                <a href="#" class="text-light mx-2">Instagram</a>
            </div>
        </div>
    </footer> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../controllers/controladoresenfermedad.js" type="module"></script>
    <script src="../controllers/controllersdashboars/controllerDASHEnfermedad.js" type="module"></script>

</body>
</html>